@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;700&family=Press+Start+2P&display=swap');
:root {
    /* Colors */
    --blanco: #fff;
    --morado: #5D04D9;
    --morado_oscuro: #4A008F;
    --negro: #000000;
    --gris:rgb(178, 175, 175);
    --azul : #03318C;
}

* {
    font-family: 'Press Start 2P';
    box-sizing: border-box;
    
}

body {
    margin: 0;
    background-color: var(--blanco);
    
}


.encabezado {
 
    background: var(--morado);
    width: 100%;
    padding: 40px ;
    text-align: center;

    
}

.container {
    display: flex;
    gap: 40px;
    padding: 60px;
}

.productos {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr)); 
    padding-top: 8px;
    max-height: 80vh; 
    box-shadow: -15px 15px 2px var(--gris);
    overflow-y: auto;
    padding-left: 18px; 


}

.productos h1 {
    grid-column: 1 / -1; 
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;

}

.producto__informacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: var(--morado_oscuro);
    color: var(--blanco);
    border: 5px solid var(--negro);
    border-radius: 10px;
    box-shadow: -8px 10px 15px var(--gris); 
    padding: 10px;
    margin-right: 20px;
    height: 310px;
    margin-bottom: 60px;

}

.producto__imagen {
    width: 100%; 
    height: 200px;
    border-radius: 6px;
    border: 5px solid var(--negro);
}

.producto__informacion p,
.producto__informacion h3 {
    margin: 10px 0;
    font-family: 'IBM Plex Mono', monospace;
    text-align: left; 
}
.producto__precio-icono {
    display: flex;
    justify-content: space-between; 
    align-items: center;

}

.icono {
    display: flex; 
    justify-content: flex-end; 
    align-items: flex-end; 
    margin:0;
}

.icono img {
    width: 30px; 
    height: 30px;
    cursor: pointer;
}

.formulario {
    width: 30%;
    margin-left: 50px;
}

.formulario h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.formulario___informacion div {
    margin-bottom: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

input {
    padding: 15px;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 45px;
    border: 4px solid var(--azul);
    outline: none;
    width: 100%;
    margin-bottom: 30px;
}

input:focus {
    border-color: var(--morado);
}

button {
    margin: 0 10px; 
    padding: 20px 50px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--azul);
    color: var(--blanco);
    font-family: 'IBM Plex Mono', monospace;
    
}

button:hover {
    background-color: var(--blanco);
    border: 3px solid var(--azul);
    color: var(--azul);
}
input::placeholder {
    color: var(--azul);

}
.footer {
    background: var(--morado);
    font-family: 'IBM Plex Mono', monospace;
    padding: 10px;
    color: var(--blanco);
    text-align: center;
    width: 100%;
    padding-top: 40px;
}
.footer h3, h4{
   font-size: 15px;
    font-family: 'IBM Plex Mono', monospace;

}
@media (max-width: 768px){
    .container{
       align-items: center;
       flex-direction:column-reverse;
    }
    .formulario {
        width: 60%;
    }
    .productos {
        grid-template-columns: repeat(2, 1fr); 
        width: 90%;
    }

    
    
}